#content {
  width: 600px;
  margin: 120px auto;
}

#selfie {
  size: 66%;
}

#line {
  position: relative;
  height: 3px;
  background-color: #0066CC;
}

navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;               
  justify-content: space-between; 
  width: 100%;

}

.nav {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 80x;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #99ccff;
  text-align: center;
  transition: 0.2s background-color;
}

.nav:hover {
  background-color: #0066CC;
}

header {
  top: -10;
  position: fixed;
  background-color: rgb(204, 255, 204);
  background-color: rgba(204, 255, 204, 0.65);
  width: 100%;
  text-align: center;
}

main {
 display: flex;
  padding: 20px;
  padding-top: 100px;
  margin: auto;
  width 85%;
  position:absolute;
  left: 10%;
  right: 10%;
  flex-wrap: wrap;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
  color: #0066CC;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}

body {
  font-family:'Lato', sans-serif;
}
