#content {
  width: 600px;
  margin: 120px auto;
}

#selfie {
  width 80px;
  height 40px;
}

#line {
  position: static;
  left: 0;
  right: 0;
  top: 2;
  bottom: 2;
  height: 4px;
  background-color: #0066CC;
}

navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;               
  justify-content: space-between; 
  width: 100%;
}

.nav {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 80x;
  margin-bottom: 5px;
  background-color: #7AA3CC;
  text-align: center;
}

header {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
}

main {
  padding-top: 150px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
  color: #0066CC;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}
