#content {
  width: 600px;
  margin: 120px auto;
}

#selfie {
  width = 80px;
}

#line {
  position: static;
  left: 0;
  right: 0;
  top: 2;
  bottom: 2;
  height: 4px;
 /* background-color: #0066CC; */
  background-color: #0069DD;
}

navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;               
  justify-content: space-between; 
}

header {
  position: fixed;
}

.nav {
  flex: 0 0 20px;                /* No grow/shrink, 140px width */
  height: 15px;
  margin-bottom: 5px;
  background-color: #7AA3CC;
  text-align: center;
}


body {
    font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
  color: #0066CC;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}
